-- Update admin_get_businesses to include resource counts and plan limits
CREATE OR REPLACE FUNCTION admin_get_businesses()
RETURNS TABLE (
  id uuid,
  name text,
  tin text,
  default_currency text,
  subscription_status text,
  subscription_ends_at timestamptz,
  created_at timestamptz,
  owner_name text,
  owner_email text,
  plan_name text,
  user_count bigint,
  branch_count bigint,
  product_count bigint,
  max_users int,
  max_branches int,
  max_products int,
  features jsonb,
  is_efris_enabled boolean,
  active_devices bigint
)
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
BEGIN
  IF NOT is_super_admin() THEN
    RAISE EXCEPTION 'Access denied: super admin only';
  END IF;

  RETURN QUERY
  SELECT DISTINCT ON (b.id)
    b.id,
    b.name::text,
    b.tin::text,
    b.default_currency::text,
    b.subscription_status::text,
    b.subscription_ends_at,
    b.created_at,
    p.full_name::text AS owner_name,
    u.email::text AS owner_email,
    sp.display_name::text AS plan_name,
    (SELECT COUNT(*) FROM profiles pr WHERE pr.business_id = b.id AND pr.deleted_at IS NULL) AS user_count,
    (SELECT COUNT(*) FROM branches br WHERE br.business_id = b.id) AS branch_count,
    (SELECT COUNT(*) FROM products prod WHERE prod.business_id = b.id AND prod.deleted_at IS NULL) AS product_count,
    COALESCE(sp.max_users, 3) AS max_users,
    COALESCE(sp.max_branches, 1) AS max_branches,
    COALESCE(sp.max_products, 100) AS max_products,
    COALESCE(sp.features, '[]'::jsonb) AS features,
    COALESCE(b.is_efris_enabled, false) AS is_efris_enabled,
    (SELECT COUNT(*) FROM device_sessions ds WHERE ds.business_id = b.id) AS active_devices
  FROM businesses b
  LEFT JOIN profiles p ON p.business_id = b.id AND p.role = 'admin'
  LEFT JOIN auth.users u ON u.id = p.id
  LEFT JOIN LATERAL (
    SELECT s.plan_id
    FROM subscriptions s
    WHERE s.business_id = b.id
    ORDER BY s.current_period_start DESC
    LIMIT 1
  ) sub ON true
  LEFT JOIN subscription_plans sp ON sp.id = sub.plan_id
  ORDER BY b.id, b.created_at DESC;
END;
\$\$;
