-- Migration: Package Resource Limits
-- Adds RPCs to check branch and product limits

CREATE OR REPLACE FUNCTION check_branch_limit(p_business_id UUID)
RETURNS jsonb
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
  v_max_branches integer;
  v_current_count integer;
BEGIN
  SELECT sp.max_branches INTO v_max_branches
  FROM subscriptions s
  JOIN subscription_plans sp ON sp.id = s.plan_id
  WHERE s.business_id = p_business_id
    AND s.status IN ('trial', 'active')
  ORDER BY sp.sort_order DESC
  LIMIT 1;

  IF v_max_branches IS NULL THEN v_max_branches := 1; END IF;
  IF v_max_branches = -1 THEN RETURN jsonb_build_object('allowed', true, 'max_branches', -1); END IF;

  SELECT COUNT(*) INTO v_current_count
  FROM branches
  WHERE business_id = p_business_id;

  RETURN jsonb_build_object(
    'allowed', v_current_count < v_max_branches,
    'max_branches', v_max_branches,
    'current_count', v_current_count
  );
END;
\$\$;

CREATE OR REPLACE FUNCTION check_product_limit(p_business_id UUID)
RETURNS jsonb
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
  v_max_products integer;
  v_current_count integer;
BEGIN
  SELECT sp.max_products INTO v_max_products
  FROM subscriptions s
  JOIN subscription_plans sp ON sp.id = s.plan_id
  WHERE s.business_id = p_business_id
    AND s.status IN ('trial', 'active')
  ORDER BY sp.sort_order DESC
  LIMIT 1;

  IF v_max_products IS NULL THEN v_max_products := 100; END IF;
  IF v_max_products = -1 THEN RETURN jsonb_build_object('allowed', true, 'max_products', -1); END IF;

  SELECT COUNT(*) INTO v_current_count
  FROM products
  WHERE business_id = p_business_id
    AND deleted_at IS NULL;

  RETURN jsonb_build_object(
    'allowed', v_current_count < v_max_products,
    'max_products', v_max_products,
    'current_count', v_current_count
  );
END;
\$\$;
